[submodule "monorepo"]
	path = sub-modules/monorepo
	url = https://github.com/commonwarexyz/monorepo
[submodule "sub-modules/cnidarium"]
	path = sub-modules/cnidarium
	url = https://github.com/penumbra-zone/cnidarium
[submodule "sub-modules/socratic"]
	path = sub-modules/socratic
	url = https://github.com/elsehow/socratic
[submodule "sub-modules/dao-contracts"]
	path = sub-modules/dao-contracts
	url = https://github.com/DA0-DA0/dao-contracts/
